body{
    background-color: cornflowerblue;
}

h1 {
    color: darkgreen;
}

h6 {
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
}

p {
    color: red;
}

.primero{
    color: blueviolet;
}

#doblep{
    color: #9d23b3;
}
img {
    width: 200px;
}